# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual environments
.venv/
venv/
ENV/

# SQLite database files
*.db
*.sqlite
*.sqlite3

# OS / editor files
.DS_Store
Thumbs.db
desktop.ini

# VSCode settings
.vscode/
